.left {
float: left;}

.right {
float: right;}

.center {
text-align: center;}

body {
width: 1000px;
background-color: #a3bd7c;
background-repeat: repeat-y;
margin: auto;}

	#page {
	width: 1000px;
	border: 3px solid #26380b;
	background-color: #4c6428;
	color: white;}
	
	a {
	color: #c69c6c;
	text-decoration: none;}
	
	a:hover {
	color: #92683e;
	background-color: #8fb852;}
	
	#page > img {
	border: 1px solid #26380b;}

	#colonne_droite {
	float: left;
	width: 150px;
	text-align: center;}

		object {
		margin-top: 20px;}

		#colonne_droite #menu a {
		display: block;
		margin-top: 10px;
		width: 150px;
		height:35px;
		padding-top:15px;
		text-decoration: none;
		color: #8fb852;
		background-color: #c69c6c;
		background-image: url("../logo/bouton.jpg");}

		#colonne_droite #menu a:hover {
		color: #4c6428;
		background-color: #92683e;
		background-position: 0px -50px;}
		
		#colonne_droite #menu a:active {
		padding-top: 15px;
		height: 35px;
		Font-size: 120%;}
		
		a:active, a:focus {
		outline: none;}


	#footer {
	margin-bottom: 0px;
	width: 1000px;
	height: 200px;}

	#corps {
	margin-top: 20px;
	margin-right: 25px;
	float:right;
	width: 800px;
	text-align: justify;}
		
		#corps h1 {
		text-align:center;}
		
		tr {
		margin-top: 10px;
		margin-left: 10px;}

			td {
			width: 270px;
			text-align: center;}

				img {
				border: none;}
	
	#editeur {
	text-align: center;}
	
		#editeur #elm1 {
		width: 800px;
		height: 400px;
		margin: auto;}
	
	#login fieldset {
	width: 500px;
	margin: auto;
	display: block;}
	
		#login fieldset legend {
		color: #c69c6c;}
	
		#login #mediatheque p, #login #mediatheque fieldset {
		text-align: center;}
	
		#login #mediatheque table {
		width: 800px;
		margin: auto;
		background-color: #c69c6c;}
		
			#login #mediatheque table td {
			border: 1px solid #4c6428;}
		
		#login #mediatheque .pages, #login #mediatheque .submit {
		width: 800px;
		margin:auto;}
		
			#login #mediatheque input {
			margin: 0px;}